@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

.AllPosts{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    

}
@media only screen and (max-width: 600px){
    .AllPosts{grid-template-columns: auto} 
    .cardPost{width:100%}
 }
.PageHeading{
    font-weight:800;
    margin-bottom:4rem;

}
.loader {
    border: 5px solid #f3f3f3; 
    border-top: 5px solid #ff4d4d; 
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin:auto;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.cardPost{
    background:#fff;
    margin: 10px;
    padding:3em;
    border-radius:7px;

}
.cardPost .PostTitle{
    font-weight:800;
    margin-bottom:10px;
}
.cardPost .PostBody{
    color:grey;
    font-size:15px;
    font-family: 'Quicksand', sans-serif;

}
.PostTitle:first-letter,.PostBody:first-letter {
    text-transform: uppercase;
}
